@using EventToMetaValueDeconstructor
@using Mvc.dto

@{
    int i = 0;    
    <h1>Event creation form</h1>
    <form class="mt-2" method="post">
        <fieldset>
            <div class="form-group">
                <label for="disabledEventKeyInput">EventKey</label>
                <input type="text" id="EventKey" name="EventKey" class="form-control w-50 mb-4" placeholder="Event key" value="@Model.EventKey" readonly />

                @foreach (JsonProperty jsonProperty in Model.JsonPropertiesMetaValue)
                {
                    string inputType = "text";
                    switch (jsonProperty.PropertyType)
                    {
                        case PropertyType.Number:
                            inputType = "number";
                            break;
                        default:
                            break;
                    };

                    <label for="jsonInfo_Properties[@i]_Name">Property name</label>
                    <input type="text" id="jsonInfo_Properties[@i]_Name" name="jsonInfo.Properties[@i].Name" class="form-control w-50 mb-3" placeholder="Property name" value="@jsonProperty.PropertyName" readonly />
                    <label for="jsonInfo_Properties[@i]">Value type</label>
                    <input type="text" id="jsonInfo_Properties[@i]_Type" name="jsonInfo.Properties[@i].Type" class="form-control w-50 mb-3" placeholder="Value type" value="@jsonProperty.PropertyType" readonly />
                    <label for="jsonInfo_Properties[@i]_Value">Property value</label>
                    <input type=@inputType id="jsonInfo_Properties[@i]_Value" name="jsonInfo.Properties[@i].Value" class="form-control w-50 mb-5" placeholder="@jsonProperty.SampleValue" value="@jsonProperty.SampleValue" required>                    
                    i = i + 1;
                }
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </fieldset>
    </form>
}