@using EventToMetaValueDeconstructor
@using Mvc.dto

@{
    int i = 0;    
    <b>@Model.EventKey</b>
    <form class="mt-4" action="/Events/CreateEvent" method="post">
        <fieldset>
            <div class="form-group">
                <div class="row w-100">
                    <div class="col-sm-8">
                        <label for="eventInfo_EventKey" class="mt-1">Создаваемое событие</label>
                        <input type="text" class="form-control mb-2" id="eventInfo_EventKey" name="eventInfo.EventKey" Value="@Model.EventKey" readonly />
                    </div>
                 </div>
                @foreach ( JsonProperty jsonProperty in Model.JsonPropertiesMetaValue )
                {
                    String previousValue = "";
                    <label for="eventInfo_EnteredPropertiesValue[@i]_Name" class="mt-1">@jsonProperty.PropertyName (@jsonProperty.PropertyType)</label>
                    <div class="row w-100">
                        <div class="col-sm-3">
                            @if ( !( Model.EnteredPropertiesValues == null ) )
                            {
                                previousValue = Model.EnteredPropertiesValues[ i ];
                            }
                            @if ( ( jsonProperty.PropertyType == PropertyType.Object ) || ( jsonProperty.PropertyType == PropertyType.List ) )
                            {
                                <textarea class="textInput" id="eventInfo_EnteredPropertiesValues[@i]" name="eventInfo.EnteredPropertiesValues[@i]" rows="6" placeholder="Впишите значение сюда" required>@previousValue</textarea>
                            }
                            else
                            {
                                <input type="text" class="form-control mb-2" id="eventInfo_EnteredPropertiesValues[@i]" name="eventInfo.EnteredPropertiesValues[@i]" value="@previousValue" placeholder="Впишите значение сюда" required />
                            }
                        </div>
                        <div class="col-sm-1">
                            <a class="btn btn btn-primary" data-toggle="collapse" href="#sampleValue_@i" role="button" aria-expanded="false" aria-controls="sampleValue_@i">Пример</a>
                        </div>
                        <div class="col-sm-4">
                            <div class="collapse multi-collapse" id="sampleValue_@i">
                                @if ( ( jsonProperty.PropertyType == PropertyType.Object ) || ( jsonProperty.PropertyType == PropertyType.List ) )
                                {
                                    <textarea class="form-control mb-2" id="SampleValue[@i]" rows="6" disabled>@jsonProperty.SampleValue</textarea>
                                }
                                else
                                {
                                    <textarea class="form-control mb-2" id="SampleValue[@i]" rows="1" disabled>@jsonProperty.SampleValue</textarea>                                    
                                }
                            </div>
                        </div>
                    </div>
                    i = i + 1;
                }
            </div>
            <button type="submit" class="btn btn-success btn-lg mb-3">Сгенерировать json</button>
        </fieldset>
    </form>
    @if (!(String.IsNullOrEmpty(Model.CreatedJson)))
    {
        <label for="CreatedJson" class="mt-1">Сгенерированный Json:</label>
        <textarea id="CreatedJson" class="w-100" rows="2" disabled>@Model.CreatedJson</textarea>
        <label for="CreatedEventKey" class="mt-1">x-pro-event-type:</label>
        <textarea class="w-100" id="CreatedEventKey" rows="1" disabled>@Model.EventKey</textarea>
        <label for="CreatedEventId" class="mt-1">x-pro-event-id:</label>
        <textarea class="w-100" id="CreatedEventId" rows="1" disabled>@Model.EventId</textarea>
    }
}